:root {
    /* ===== Fonts & FontSize ===== */
    --body-font : 'Spoqa Han Sans Neo', 'sans-serif';
    
    --font-semi-size : .75rem; /* 12px */
    --font-normal-size : .937rem; /* 15px */
    --font-middle-size : 1.125rem; /* 18px */
    --font-title-size : 1.25rem; /* 20px */
    --font-big-size : 1.5rem; /* 24px */
    --font-section-size : 3rem; /* 48px */

    /* ===== Font Weight ===== */
    --font-semi-bold : 400;
    --font-normal-bold : 500;
    --font-middle-bold : 600;
    --font-big-bold : 900;

    /* ===== Z-index ===== */
    --z-index: 100;

    /* ===== Colors ===== */
    --white-color : #fff;
    --black-color : #000;
    --gray-color : #808080;
    --ltgray-color : #C0C0C0;
}

/* ===== Initial Setting ===== */
*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

ul,li {
    list-style: none;
}

body {
    margin: 0;
    padding: 3rem 0 0 4rem;
    font: var(--body-font);
    font-size: var(--font-normal-size);
    color: var(--text-color);
}

/* ===== Header ===== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    z-index: var(--z-index);
    box-shadow: 0 1px 0 rgba(22,8,43,.1);
}

.header__container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem 0 4.5rem;
}

.header__logo {
    font-size: var(--font-title-size);
}

.header__logo_title {
    margin: 0;
    padding: 0;
}

.header__search_form {
    width: 300px;
    border: 1px solid var(--ltgray-color);
    display: flex;
    height: 2rem;
    border-radius: .5rem;
}

.header__search_input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: var(--font-normal-size);
    padding-left: .75rem;
}

input[type="submit"] {
    font-family: 'FontAwesome';
}

.header__search_submit {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: var(--font-normal-size);
} 

.header__list {
    display: none;
}


/* ===== Nav ===== */
.nav {
    width: 64px;
    height: 100vh;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    padding: .8rem 1.4rem 3rem;
    box-shadow: 1px 0 0 rgba(22,8,43,.1);
    z-index: var(--z-index);
    transition: .4s;
}

.nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav__container::-webkit-scrollbar {
    display: none;
}

.nav__title {
    font-size: var(--font-middle-size);
    display: flex;
    font-weight: var(--font-big-bold);
}

.nav__logo_icon {
    margin-right: 0.5rem;
}
    /* == nav__subtitle == */
.nav__subtitle {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: var(--font-big-bold);
    font-size: var(--font-normal-size);
    padding: 0;
    margin: 0;
}

.nav__list, .nav__items {
    display: grid;
}

.nav__list {
    row-gap: 2.5rem;
}

.nav__items {
    row-gap: 1.5rem;
}

.nav__link {
    display: flex;
    align-items: center;
}

.nav__link_icon {
    margin-right: 0.5rem;
    font-size: var(--font-middle-size);
    margin-bottom: 0.2rem;
}

.nav__name {
    font-size: var(--font-semi-size);
    font-weight: var(--font-normal-bold);
    white-space: nowrap;
}

.loginfo__box {
    margin-top: 5rem;
}

.nav:hover {
    width: 200px;
}

.nav__subtitle,
.nav__name,
.nav__logo_name {
    opacity: 0;
}

.nav:hover .nav__subtitle,
.nav:hover .nav__name,
.nav:hover .nav__logo_name {
    opacity: 1;
}

.show-menu {
    left: 0;
}

/* ===== Section ===== */
.section {
    width: 100%;
    height: 600px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
}

.section__subtitle {
    font-size: var(--font-middle-size);
    color: white;
    margin-top: 0.5rem;
}

.section__title {
    font-size: var(--font-section-size);
    font-weight: var(--font-big-bold);
    color: var(--white-color);
    margin-bottom: 0.5rem;
}

hr {
    border: 1px solid var(--white-color);
    width: 300px;
}


/* ===== Aside ===== */
.aside {
    margin-top: 2rem;
    text-align-last: center;
}

.aside__title {
    font-size: var(--font-middle-size);
    font-weight: var(--font-middle-bold);
    margin-bottom: 0.5rem;
}

.aside__subtitle_link {
    color: var(--ltgray-color);
}

.aside__container {
    margin-top: 1rem;
    padding: 0 2.5rem;
}

.aside__shop_box {
    padding: .5rem;
    margin-bottom: 4rem;
}

.aside__shop_box_list {
    box-shadow: 3px 3px 10px var(--ltgray-color), -1px -1px 3px var(--ltgray-color);
    border-radius: 1rem;
    padding: .5rem;
}

.shop__list_img {
    border-radius: .75rem;
}

.shop__list_info {
    display: grid;
    row-gap: 1rem;
    padding: 0 .5rem;
}

.shop__name {
    margin: .5rem 0 0 0;
    padding: 0;
}

.shop__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__cate_btn {
    border: none;
    outline: none;
    color: white;
    border-radius: .25rem;
    padding: .25rem .55rem;
}

.shop__cate_btn:nth-child(1) {
    background-color: rgb(178, 34, 34);
}

.shop__cate_btn:nth-child(2) {
    background-color: rgb(46, 178, 34);
}

.shop__cate_btn:nth-child(3) {
    background-color: rgb(51, 34, 178);
}

.aside__alliance {
    /* margin: 4rem 0; */
    padding: 0 3rem;
}

.aside__alliance_container {
    width: 100%;
    height: 468px;
    background-image: url(../img/4.jpg);
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
}

.alliance__title {
    width: 400px;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alliance__h3,
.alliance__h4 {
    color: var(--white-color);
}

.alliance__h3 {
    font-size: var(--font-big-size);
}

.alliance__subtitle  button{
    border: none;
    outline: none;
    cursor: pointer;
    padding: .55rem 1.25rem;
    border-radius: .5rem;
    font-weight: var(--font-middle-bold);
    letter-spacing: .1rem;
}

.location {
    text-align-last: center;
    margin: 4rem 0;
}

.location__container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 0 3rem;
    margin: 1rem 0;
}

.location__title {
    font-size: var(--font-middle-size);
    font-weight: var(--font-middle-bold);
}

.location__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location__img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 1rem 0 0 0;
}

.location__name {
    font-weight: var(--font-middle-bold);
    margin-top: 1rem;
}

.location__info {
    margin-top: 0.5rem;
    color: var(--gray-color);
}

/* ===== Footer ===== */
.footer {
    margin-top: 4rem;
    padding: 1rem 0;
}

.footer__container {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--ltgray-color);
}

.footer__title {
    font-size: var(--font-title-size);
    font-weight: var(--font-middle-bold);
    display: flex;
    flex-direction: column;
}

.footer__subtitle {
    font-size: var(--font-normal-size);
    padding: .5rem 0;
}

.footer__box {
    margin-top: 1rem;
    display: flex;
}

.footer__box li {
    padding: 0 1.5rem 0 1.5rem;
}

.footer__box li:nth-child(1) {
    padding-left: 0;
}

.footer__box li:nth-child(1n+1) {
    border-right: 1px solid var(--ltgray-color);
}

@media screen and (max-width : 1023px) {
    .shop__info {
        flex-direction: column;
    }
    .location__container {
        grid-template-columns: repeat(3,2fr);
    }
    .footer__box {
        flex-direction: column;
    }
    .footer__box li:nth-child(1n) {
        padding-left: 0;
    }
    .footer__box li:nth-child(1n+1) {
        border: none;
    }

    .footer__box li {
        padding: .55rem 0;
    }

    .footer__sns {
        display: flex;
        flex-direction: row;
    }

    .footer__sns li {
        padding: 0 1rem;
    }
}

@media screen and (max-width :769px) {
    body {
        padding: 3rem 0 0 0;
    }
    .header__container {
        padding: 0 1rem;
    }

    .header__search_form {
        width: 210px;
    }

    .header__list {
        display: block;
        font-size: var(--font-middle-size);
    }
    .nav {
        left: -100%;
    }
    nav.show-menu {
        left: 0;
        width: 200px;
    }
    
    .nav__name,
    .nav__subtitle,
    .nav__logo_name {
        opacity: 1;
    }
    
    .section {
        height: 300px;
    }

    .section__subtitle {
        font-size: var(--font-normal-size);
    }

    .section__title {
        font-size: var(--font-middle-size);
    }

    .aside__container {
        padding: 0 .5rem;
    }

    .aside__alliance,
    .location__container {
        padding: 0 1rem;
    }
    .aside__alliance_container {
        height: 268px;
    }

    .alliance__title {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: rgba(0,0,0,0.4);
    }
    
    .footer__container {
        padding: 1rem;
    }
}

@media screen and (max-width :480px) {
    .location__container {
        grid-template-columns: repeat(2,4fr);
    }
}

